{% if game.isFinished == false %}
<div class="example-wrapper" style="border-bottom: 1px solid cornflowerblue">
    <div class="row mb-3 text-center" style="font-size: small">
            <div class="pb-3 bold game-title">{{game.homeTeam}} - {{game.awayTeam}}</div>
            <div class="row">
                <div class="col-md-6 themed-grid-col bold underline">Home Team ({{game.homeTeam}})</div>
                <div class="col-md-6 themed-grid-col bold underline">Away Team ({{game.awayTeam}})</div>
            </div>
            <div class="row">
                <div class="col-md-6 themed-grid-col score">{{game.homeTeamScore}}</div>
                <div class="col-md-6 themed-grid-col score">{{game.awayTeamScore}}</div>
            </div>
    </div>
</div>
{% endif %}